.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  align-items: start;
}

.button {
  position: relative;
  padding: 0;
  background: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer;
}

.userMark {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%; /* Adjust size as needed */
  height: 20%; /* Adjust size as needed */
}

.resources {
  position: absolute;
  top: 90%;
  left: 28%;
}

.right {
  position: absolute;
  display: grid;
  top: 10%;
  left: 50%;

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(218, 218, 218); /* Semi-transparent grey */
  z-index: 1; /* Ensure it sits above the button content */
}
