.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  align-items: start;
}

.button {
  position: relative;
  padding: 0;
  background: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer;
}

.userMark {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%; /* Adjust size as needed */
  height: 20%; /* Adjust size as needed */
}

.resources {
  position: absolute;
  top: 90%;
  left: 28%;
}

.right {
  position: absolute;
  display: grid;
  top: 10%;
  left: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(218, 218, 218, 0.8); /* Semi-transparent grey */
}


.overlayBox {
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
