
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  align-items: start;

}

.button {
  position: relative;
  padding: 0;
  background: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer;
}


.userMark {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%; /* Adjust size as needed */
  height: 20%; /* Adjust size as needed */
}

.resources {
  position: absolute;
  top: 90%;
  left: 27%;

}
