.container{
  background-color: rgb(200, 117, 200);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.topSection{
  background-color: rgb(200, 187, 117);
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content:center;
}

.bottomSection{
  background-color: rgb(240, 252, 16);
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
}

.container img {
  width: 90%;
  height: 120%;
  margin: 0%;
  justify-content: flex-start;
  margin-top: -15%;
}

.card {
  display: flex;
  position: absolute;
  width: 5%;
  height: 10%;
  margin: 7.5%;
}



.cardPileText {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  color: black;
  padding: 5px;
  box-sizing: border-box;
}

.images img{
  display: flex;
  position: absolute;
  width: 1%;
  height: 10%;
  margin: 0%;
}


