.container {
  background-color: rgb(74, 131, 237);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.topSection {
  background-color: rgb(55, 255, 0);
  display: flex;
  width: 100%;
  height: 7%;
  flex-direction: row;
  justify-content: center;
}

.middleSection {
  background-color: rgb(255, 77, 0);
  display: flex;
  width: 100%;
  height: 18%;
  flex-direction: row;
  justify-content: center;
}

.box1 {
  background-color: rgb(255, 225, 0);
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.box2 {
  background-color: rgb(255, 0, 179);
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.box3 {
  background-color: rgb(183, 255, 0);
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.number {
  font-size: 100%;
}

.resource1 {
  background-color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  font-size: 95%;
  align-items: center;
  width: 80%;
  height: 86%;
  border-radius: 10px;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.resource1 img {
  width: 13%;
  height: 38%;
}

.resource2 {
  background-color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  font-size: 95%;
  align-items: center;
  width: 90%;
  height: 40%;
  border-radius: 10px;
  margin: 0 auto 13% auto;
  flex-wrap: wrap;
}

.resource2 img {
  width: 55%;
  height: auto;
}

.resource3 {
  background-color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  font-size: 95%;
  align-items: center;
  width: 90%;
  height: 40%;
  border-radius: 10px;
  margin: 0 auto 13% auto;
  flex-wrap: wrap;
}

.resource3 img {
  width: 32%;
  height: auto;
}

.resource-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.resourceItem img {
  margin-right: 0px;
}

.resourceItem span {
  margin-left: 0px;
}

.bottomSection {
  background-color: rgb(0, 0, 255);
  display: flex;
  width: 100%;
  height: 75%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.farm {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40%;
}

.pointerCursor {
  cursor: pointer;
  width: 100%;
}

.image {
  background-color: antiquewhite;
  position: relative;
  width: 20%;
}

.overlay {
  position: absolute;
  top: 25%;
  left: 25%;
}
